<router-outlet>
  <div class="container my-12 mx-auto px-4 md:px-12 bg-green-500">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">
      @for(inscripcion of getInfoEstudiantes(); track inscripcion.estudiante.codigo) {
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3 xl:w-1/4">
          <!-- Article -->
          <article class="bg-gray-800 text-white p-4 rounded-lg shadow-lg">
            <a class="font-bold text-xl" href="">
              {{ inscripcion.estudiante.nombre }}
            </a>
            @for(asignatura of inscripcion.info; track asignatura.grupo) {
              <h2 class="text-green-500">{{asignatura.grupo.asignatura.nombre}}</h2>
              <a href="">Notas: </a>
              @for(notas of asignatura.notas; track notas){
                @if(notas < 3 ){
                  <a class="text-red-500">{{notas}}, </a>
                } @if(notas >= 3){
                  <a class="text-blue-500">{{notas}}, </a>
                }
              }
              @if(asignatura.definitiva < 3 ){
                <a href="">Definitiva:</a>
                <a class="text-red-500"> {{asignatura.definitiva.toFixed(1)}} </a>
              } @if(asignatura.definitiva >= 3){
                <a href="">Definitiva:</a>
                <a class="text-blue-500"> {{asignatura.definitiva.toFixed(1)}} </a>
              }
            }
            <div class="mt-4">
              <p class="font-semibold">Promedio: {{ inscripcion.promedio ? inscripcion.promedio.toFixed(2) : 'N/A' }}</p>
              <p class="font-semibold">Rendimiento: 
                @switch (inscripcion.rendimiento) {
                  @case ('Deficiente') {
                    <span class="text-red-500">{{ inscripcion.rendimiento }}</span>
                  }
                  @case ('Regular') {
                    <span class="text-yellow-500">{{ inscripcion.rendimiento }}</span>
                  }
                  @case ('Aceptable') {
                    <span class="text-green-500">{{ inscripcion.rendimiento }}</span>
                  }
                  @case ('Bueno') {
                    <span class="text-green-500">{{ inscripcion.rendimiento }}</span>
                  }
                  @case ('Sobresaliente') {
                    <span class="text-blue-500">{{ inscripcion.rendimiento }}</span>
                  }
                  @default {
                    <span>{{ inscripcion.rendimiento }}</span>
                  }
                }
              </p>
            </div>
          </article>
        </div>
      }
    </div>
  </div>
</router-outlet>
